.textarea {
  border-radius: 10px;
  border: 2px solid var(--color-primary-lightgray);
  outline: none;
  padding: 14px;

  font-size: 18px;
  font-family: lato, Arial, Helvetica, sans-serif;
  color: var(--color-primary-darkgray);
}

.textarea::placeholder {
  color: var(--color-primary-gray);
}

.textarea:focus {
  border-color: var(--color-accent);
}
